* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: fantasy;
  background-image: url("./assets/background/toy-story-cloud.jpg");
  background-size: contain;
  height: 100vh;
  overflow: hidden;
}

.blue {
  color: #53a6cc;
}

.text-blue {
  color: #004d99;
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
  height: 80vh;
  text-align: center;
}

.toy-puzzle {
  width: 50%;
  margin-top: 70px;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 2.2em;
  color: white;
  position: absolute;
  cursor: pointer;
}

.zoom-in-zoom-out {
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

#how-to-play {
  left: 12%;
  top: 65%;
}

#start-game {
  right: 12%;
  top: 65%;
}

/* game-3x3 */
.header {
  margin-top: 1%;
  margin-bottom: -7%;
}

.level-1 {
  width: 25%;
}

.white-box {
  width: 70%;
  height: 80%;
  background-color: white;
  margin: auto;
  border-radius: 15px;
  padding-top: 60px;
}

.info {
  display: flex;
}

.turns {
  margin: 0 0 0 10%;
  color: #53a6cc;
}

.timer {
  margin: 0 10% 0 45%;
  color: #53a6cc;
}

.game-3x3 {
  border: 5px solid #53a6cc;
  margin: auto;
  margin-top: 2%;
  width: 28%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* you-win */
.you-win {
  display: none;
}

.you-win-header {
  width: 28%;
}

.finished-image-container {
  display: flex;
}

/* game-over */
.game-over-screen {
  display: none;
}

.game-over-header {
  width: 40%;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-over-screen h1 {
  color: #ffda00;
  -webkit-text-stroke: 1px #004d99;
  margin-bottom: 10%;
  font-size: 2.8em;
}

.main-menu {
  margin-right: 700px;
  margin-top: 2%;
  margin-left: 5%;
  position: relative;
  white-space: nowrap;
}

.try-again {
  margin-top: 15%;
  margin-left: 600px;
}

/* how-to-play */
.how-to-play-header {
  width: 45%;
}

.how-to-play-container {
  padding: 5px;
}

.main-menu-how-to-play {
  position: absolute;
  white-space: nowrap;
  margin-top: 2.2%;
  margin-right: 40%;
}

.start-game-how-to-play {
  white-space: nowrap;
  position: relative;
  margin-top: 3.1%;
  margin-left: 52%;
}

@media only screen and (max-width: 768px) {
  #how-to-play {
    top: 35%;
    font-size: 1.5em;
  }

  #start-game {
    top: 35%;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 600px) {
  #how-to-play {
    top: 30%;
    left: 5%;
    font-size: 1.5em;
  }

  #start-game {
    top: 30%;
    right: 5%;
    font-size: 1.5em;
  }
}
